.search-bar{
    font-size: 16px;
    width: 500px;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-left: 42px;
    display: inline-block;
}
.logo{
    display: inline-block;
    width: 200px;
    margin-left: 25px;
}
.div{
    text-align: center;
}
button{
    width: 136px;
    height: 32px;
    margin-top: 20px;
    font-family: Arial;
    font-weight: bold;
    border: none;
    margin-right: 6px;
}