p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.picture{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 15px;
}
.info{
    width: 200px;
}
.name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}
.handle{
    color: rgb(150, 150, 150);
    font-size: 13px;
    margin-bottom: 3px;
}
.category{
    color: rgb(150, 150, 150);
    font-size: 14px;
}
.button{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    cursor: pointer;
}